.settings{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 1.5em;
}
.setting{
    width: fit-content;
    padding: 1em;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(230, 229, 229);
}
.setting select{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    border-radius: 0;

}
.setting button{
    background-color: black;
    color: white;
}
@media(max-width:500px){
    .settings{
        display: block;
        margin: 0 auto;
    }
    .setting{
        display: block;
        width: 100%;

    }
}